/* *{
    margin: 0;
    padding: 0;
    
} */
.hero-slide {
    height: 600px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container.about-box {
    margin-top: -58px;
    z-index: -5;
    /* position: absolute; */
    /* margin: auto; */
}